.tx-ingallery-pi1 { position: relative; }
.tx-ingallery-pi1 .containerFade { height: 600px; }
.tx-ingallery-pi1 .containerFade .item { position: absolute; top: 0; left: 0; right: 0; height: 100%; text-align: center; }
.tx-ingallery-pi1 .containerFade .label { position: absolute; bottom: 0; left: 0; right: 0; padding: 20px; background-color: black; background-color: rgba(0,0,0,.8); color: white; text-align: left; }
.tx-ingallery-pi1 .containerFade .title { font-weight: bold; }

.tx-ingallery-pi1 .arrowsContainer .arrow { position: absolute; top: 0; bottom: 0; width: 65px; z-index: 20; }
.tx-ingallery-pi1 .arrowsContainer .arrowLeft { left: 0; background: url(../img/left.png) 0 50% no-repeat; }
.tx-ingallery-pi1 .arrowsContainer .arrowRight { right: 0; background: url(../img/right.png) 100% 50% no-repeat; }