.tx-ingallery-pi1 { display:inline-block: width:100%; }
.tx-ingallery-pi1 .hoverFlowHidden { overflow: hidden; }
.tx-ingallery-pi1 h1,
.tx-ingallery-pi1 h2,
.tx-ingallery-pi1 h3,
.tx-ingallery-pi1 h4,
.tx-ingallery-pi1 h5,
.tx-ingallery-pi1 h6 {display: inline-block; width: 100%;}
.tx-ingallery-pi1 .containerGallery { position: relative; margin: 0px 0; height: 600px; }
.tx-ingallery-pi1 .containerGallery .item { height: 100%; text-align: center; }
.tx-ingallery-pi1 .containerGallery .label { position: absolute; bottom: 0; left: 0; right: 0; padding: 20px; background-color: black; background-color: rgba(0,0,0,.8); color: white; text-align: left; }
.tx-ingallery-pi1 .containerGallery .title { font-weight: bold; }

.tx-ingallery-pi1 .containerFade .item { position: absolute; top: 0; left: 0; right: 0; }
.tx-ingallery-pi1 .containerSlide { overflow: hidden; }
.tx-ingallery-pi1 .containerSlide .item { float: left; position: relative; width: 100%; }

.tx-ingallery-pi1 .arrowsContainer .arrow { position: absolute; top: 0; bottom: 0; width: 65px; z-index: 20; height: 600px;}
.tx-ingallery-pi1 .arrowsContainer .arrowLeft { left: 0; background: url(../img/left.png) 0 50% no-repeat; }
.tx-ingallery-pi1 .arrowsContainer .arrowRight { right: 0; background: url(../img/right.png) 100% 50% no-repeat; }


.tx-ingallery-pi1 .galleryContenerMiniList { position: relative; padding: 0 30px; width: 890px; }
.tx-ingallery-pi1 .albumMiniList { display: inline-block; margin:0; padding:0; width:100%; text-align:center;}
.tx-ingallery-pi1 .albumMiniList  li { display: inline-block; /*width:125px; */margin:0 10px 0 0; padding:0 0 0 0; cursor: pointer;}
.tx-ingallery-pi1 .albumMiniList  li img { /*width: 125px;*/ z-index:1; }

.tx-ingallery-pi1 .arrowsMiniContainer .arrow { position: absolute; top:0; bottom: 0; width: 35px; z-index: 20; height: 80px;}
.tx-ingallery-pi1 .arrowsMiniContainer .arrowLeft { left: 0px; background: #FFF; }
.tx-ingallery-pi1 .arrowsMiniContainer .arrowRight { right: 0px; background: #FFF; }
.tx-ingallery-pi1 .arrowsMiniContainer .arrowLeftShow { background: #FFF url(../img/mini-left.png) 0 50% no-repeat; }
.tx-ingallery-pi1 .arrowsMiniContainer .arrowRightShow { background: #FFF url(../img/mini-right.png) 100% 50% no-repeat; }

#albumList { wdith: 100%; margin:0; padding:0; }
#albumList li { display: inline-block; vertical-align: top; }
